    <div>
       <img src="{{image_url}}" alt="name">
        <h3>{{name}}</h3>
        <p>{{description}}</p> 
        <p>{{tagline}}</p> 
         <p>{{brewers_tips}}</p> 
          <p>{{food_pairing}}</p> 
        </div>